.top_bar {
  background-color: orange;
  height: 25px;
  padding-top: 3px; }

.social_icon {
  margin: 5px 5px 3px 0px;
  color: white; }
  .social_icon i {
    font-size: 17px; }

.image {
  width: 100px;
  margin: 3px; }

.menu_header {
  margin: 2px 0px !important; }
  .menu_header .logo {
    padding: 7px !important; }
  .menu_header .menu_bar ul .active a {
    background-color: orange;
    color: white; }
  .menu_header .menu_bar ul li a {
    color: #3c3030; }
  .menu_header .menu_bar ul li a:hover {
    background-color: orange;
    color: white; }

.myslider .item img {
  width: 100%;
  height: 540px !important; }

.section-1 {
  padding: 10px 0; }

.our_course {
  background-color: #286090; }
  .our_course ul {
    text-align: center; }
    .our_course ul li {
      width: 20%;
      display: inline-block; }
      .our_course ul li a .myimage {
        width: 95%;
        margin: 5px; }

.mytext h1 {
  color: white; }

.team .thumbnail .caption .contact_btn {
  padding: 6px 5px;
  font-size: 12px; }

.f_tor {
  background-color: #333333;
  color: #ccc9c9; }
  .f_tor p {
    margin: 15px 0px 5px; }
  .f_tor .logopadho_dosto {
    display: block; }
  .f_tor .f_tor_contact a {
    color: #ccc9c9; }
  .f_tor .f_tor_contact a:hover {
    color: #337ab7;
    text-decoration: none; }

@media screen and (max-width: 767px) {
  .menu_header {
    border: none !important; }
    .menu_header .toggler_btn {
      padding: 0px 4px;
      font-size: 22px;
      color: orange; }
    .menu_header .menu_bar {
      position: absolute;
      z-index: 2;
      width: 100%;
      background: white; }
  .f_tor .logopadho_dosto {
    display: none; } }

@media (max-width: 768px) and (min-width: 435px) {
  .myslider .item img {
    width: 100%;
    height: 330px !important; } }

@media screen and (max-width: 551px) {
  .top_bar .icon_bar {
    display: none; }
  .top_bar .con_info {
    width: 100%; } }

@media (max-width: 425px) and (min-width: 320px) {
  .top_bar {
    height: 20px; }
    .top_bar .con_info {
      font-size: 10px; }
      .top_bar .con_info .social_icon {
        margin: 5px 10px 3px 0px; }
        .top_bar .con_info .social_icon i {
          font-size: 10px;
          margin-right: 3px; }
  .myslider .item img {
    width: 100%;
    height: 270px !important; }
  .mytext h1 {
    font-size: 20px; }
  .team h1 {
    font-size: 25px; }
  .team .thumbnail .caption h3 {
    font-size: 20px;
    margin: 5px 0px; }
  .f_tor {
    padding-bottom: 20px; }
    .f_tor p {
      margin: 1px 0px; }
    .f_tor .f_tor_contact {
      width: 100%; }
      .f_tor .f_tor_contact h3 {
        font-size: 20px;
        color: white; } }

@media screen and (max-width: 319px) {
  .top_bar {
    display: none; } }
