@import "_variable";
@import "_mixin";
.top_bar{
  background-color: $bg-orange;
  height: 25px;
  padding-top: 3px;
}
.social_icon{
  margin: 5px 5px 3px 0px;
  color: $color-white;
  i {
    font-size: 17px;
  }
}
.image {
  width: 100px;
  margin: 3px;
}
.menu_header{
  margin: 2px 0px!important;
  .logo{
    padding: 7px!important;
  }
  .menu_bar{
    ul{
      .active{
        a{
          @include commonproperty;
        }
      }
      li{
        a{
          color: #3c3030;
        }
        a:hover{
          @include commonproperty;
        }
      }
    }
  }
}

.myslider{
  .item{
    img{
      width: 100%;
      height: 540px!important;
    }
  }
}
.section-1 {
  padding: 10px 0;
}
.our_course{
  background-color: #286090;
  ul{
    text-align: center;
    li{
      width: 20%;
      display: inline-block;
      a{
        .myimage{
          width: 95%;
          margin: 5px;
        }
      }
    }
  }
}
.mytext{
  h1 {
    color:$color-white;
  }
}
.team{
  .thumbnail{
    .caption{
      .contact_btn{
        padding: 6px 5px;
        font-size: 12px;
      }
    }
  }
}
.f_tor{
  background-color: #333333;
  color:$color-footer;
  p{
    margin: 15px 0px 5px;
  }
  .logopadho_dosto{
    display: block;
  }
  .f_tor_contact {
    a {
      color: $color-footer;
    }
    a:hover{
      color: $color-blue;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 767px){
  .menu_header{
    .toggler_btn{
      padding: 0px 4px;
      font-size: 22px;
      color: $bg-orange;
    }
    .menu_bar{
      position: absolute;
      z-index: 2;
      width: 100%;
      background: white;
    }
  }
  .f_tor{
    .logopadho_dosto{
      display: none;
    }
  }
}
@media (max-width:768px) and (min-width: 435px){
  .myslider {
    .item img {
      width: 100%;
      height: 330px !important;
    }
  }
}
@media screen and (max-width: 551px){
  .top_bar{
    .icon_bar{
      display: none;
    }
    .con_info{
      width: 100%;
    }
  }
}
@media (max-width: 425px) and (min-width: 320px) {
  .top_bar {
    height: 20px;
    .con_info {
      font-size: 10px;
      .social_icon {
        margin: 5px 10px 3px 0px;
        i {
          font-size: 10px;
          margin-right: 3px;
        }
      }
    }
  }
  .myslider{
    .item {
      img {
        width: 100%;
        height: 270px !important;
      }
    }
  }
  .mytext {
    h1 {
      font-size: 20px;
    }
  }
  .team{
    h1{
      font-size: 25px;
    }
    .thumbnail{
      .caption{
        h3{
          font-size: 20px;
          margin: 5px 0px;
        }
      }
    }
  }
  .f_tor{
    padding-bottom: 20px;
    p{
      margin: 1px 0px;
    }
    .f_tor_contact {
      width: 100%;
      h3{
        font-size: 20px;
        color: $color-white;
      }
    }
  }

}
@media screen and (max-width: 319px) {
  .top_bar {
    display: none;
  }
}